.cart-page {
    padding: 20px;
  }
  .cart-page h1 {
    text-align: left;
  }
  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #800000;
    color: white;
    border: none;
    cursor: pointer;
  }
  