.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #800000; /* Maroon */
    color: white;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  .navbar button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  